{% include 'school_board_header.html'%}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <h1>Welcome, Board Admin</h1>
    <h2>Coordinate scholarship policies and monitor school compliance effectively.</h2>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Board Level Administration</h3>
          <p class="fst-italic">
            As a board administrator, your role is pivotal in ensuring schools adhere to scholarship guidelines and
            standards.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Verify and approve school profiles.</li>
            <li><i class="bi bi-check-circle"></i> Set scholarship guidelines and eligibility criteria.</li>
            <li><i class="bi bi-check-circle"></i> Generate reports on scholarship distribution.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Affiliated Schools</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Total Review Students</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Active Schemes</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Pending Approvals</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

</main><!-- End #main -->
{% include 'footer.html'%}